<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>음성 인식 챗봇</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="title-container">
        <h2>AI정보공학과 2021013218 김도윤</h2>
        <h1>음성 인식 챗봇</h1>
    </div>

    <div class="chat-container">
        <div id="chatWindow" class="chat-window"></div>
        <button id="startRecord" class="record-btn">녹음 시작</button>
        <button id="stopRecord" class="record-btn" disabled>녹음 중지</button>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
